/* Fix IE image resizing */
img{-ms-interpolation-mode:bicubic}

/**************** Blog Styles ****************/

.blog-body {

}

.blog-sidebar-separator {
	padding: 0 10px;
}

#blog-title {
        padding-top: 10px;
        font-size:15px;
        line-height: 20px;
        font-weight: normal;
        font-family: 'Lucida Grande',  'Lucida Sans Unicode', Verdana, Sans-Serif;
}

#blog-title a {
        text-decoration:none;
}

#blog-title a:hover {
        border:none;
        color:#68f;
}

#blog-title-link {
	display: block;
}

#blog-date {
	float: left;
        padding-left: 0px;
        font-size: 13px;
}

#blog-content {
        text-align: justify;
	clear: both;
	margin-bottom: 15px;
}

#blog-content ul {
        padding: 25px;
}

#blog-separator {
	clear: both;
        border-bottom: 1px solid #ddd;
        padding-top: 2px;
        margin-top: 0px;
        font-size: 2px;
        height: 2px;
}

#blog-author {
        background: #fbfbfb;
        border-bottom: 1px solid #f9f9f9;
        padding: 0px 5px 2px 5px;
        margin: 0px 0 2px 0;
        float: right;
}

#blog-comments {
	float: right;
	margin: 0 0 0 0;
}

#blog-comments, .blog-comments-bottom {
	font-size: 13px;
}

#blog-post-title {
	border: 1px solid #ccc; 
	width: 100%;
	display: block;
        padding: 4px 0;
        font-size:15px;
        font-weight: normal;
        font-family: 'Lucida Grande',  'Lucida Sans Unicode', Verdana, Sans-Serif;

}


.blog-body .blog-social {
	position: relative;
	margin: -5px 0 15px;
}

.blog-body .blog-social-item {
	position: relative;
	z-index: 1;
	float: left;
}

.blog-body .blog-comments-bottom,
#weebly_page_content_container .blog-comments-bottom,   /* need to do this for mobile */
#wsite-content .blog-comments-bottom{                                /* need to do this for mobile */
	margin: -5px 0 40px;
}


.blog-sidebar {
	width: 215px;
}

.column-blog {
	float: right; 
	width: 200px; 
	margin: 0; 
	padding: 0;
}

/**************** Contact Form Style (old, before advanced form stuff) ****************/

#weeblyform {
	line-height: 16px;
}
#weeblyform textarea {
	font-family: "Lucida Grande",Tahoma,Arial,sans-serif;
	padding: 2px;
	border: 1px solid #abadb3;
	font-size: 13px;
	background: #FFF;
	color: #000;
	line-height: 1.2em;
	height: 140px;
	width: 300px;	
}
#weeblyform .formfield {
	margin: 5px 0px;
}
#weeblyform label.field {
	font-family: "Lucida Grande",Tahoma,Arial,sans-serif;
	font-size: 13px;
	display: block;
	font-weight: bold;
	padding-bottom: 2px;
}
#weeblyform input.text {
	font-family: "Lucida Grande",Tahoma,Arial,sans-serif;
	width: 175px;
	padding: 3px 2px;
	background: #FFF;
	border: 1px solid #abadb3;
	color: #000;
	font-size: 13px;
}
#weeblyform input.button {
	padding: 1px;
	margin: 0;
}


/**************** Blog Comment Style  ****************/

#commentAreaTitle {
	margin: 10px 0 20px 0;
	padding: 0px;
}

#commentArea .blogCommentWrap .blogCommentDate p, #commentArea .blogCommentWrap .blogCommentAuthor p {
        margin: 0;
        padding: 0;
}

#commentArea .blogCommentWrap .blogCommentDate p {
        padding-bottom: 15px;
}

#commentArea .blogCommentWrap .blogCommentText p {
	margin: 0;
	padding: 0;
}

.blogCommentAuthor {
	background: transparent url(http://images.weebly.com/weebly/images/commenticon.gif) no-repeat scroll center left;
	padding-left: 15px;
	float: left;
	display: block;
	font-weight: bold;
}

.blogCommentPro .blogCommentAuthor {
	background: transparent url(http://images.weebly.com/weebly/images/commenticon-pro.gif) no-repeat scroll center left;
}

.blogCommentDate {
	display: block;
	text-align: right;
	float: right;
	font-style: italic;
}

.blogCommentText {
	clear: both;
	overflow: hidden;
}

p.blogCommentText {
	padding: 0px;
	margin: 0px;
}

.blogCommentBorder {
	display: none;
}

.blogCommentWrap {
	margin-top: 15px;
	padding: 5px 10px 15px 10px;
	border-bottom: 1px dotted #CCCCCC;
        word-wrap: break-word;
}

div.blogCommentOwner {
	margin: -1px 0 15px 0;
	padding: 10px;
	border: 1px solid #A7C3D9;
	background: #E6F0F9;
}

div.blogCommentOwner p {
	color: #000;
}

div.blogCommentOwner p a {
	color: #EA6420;
}

#commentPostArea {
	font-family: arial, verdana, helvetica, sans-serif;
	font-size: 12px;
}

/***************** Lightbox styles **********************/

/***** old *****/

#lightbox {
	background-color: #eee;
	padding: 10px;
	border-bottom: 2px solid #666;
	border-right: 2px solid #666;
}

#lightbox #lightboxDetails {
	font-size: 14px;
	padding-top: 0.4em;
}

#lightbox #lightboxCaption {
	float: left;
}

#lightbox #keyboardMsg {
	float: right;
}

#lightbox #keyboardMsg a {
	text-decoration: none;
	font-size: 0.8em;
	color: #555555;
	font-family: verdana;
}

#lightbox img {
	border: none;
}

#overlay img {
	border: none;
}

#overlay {
	background: #000;
	opacity: 0.7;
	filter: alpha(opacity=70);
}

#lightbox #closeButton {
	top: 10px;
	right: 10px;
	border-left: 5px solid white !important;
}


/***** new *****/

#lightbox2{
	position: absolute;
	top: 40px;
	left: 0;
	width: 100%;
	z-index: 100;
	text-align: center;
	line-height: 0;
	}

#lightbox2 a img{ border: none; }

#lightbox2 #outerImageContainer{
	position: relative;
	background-color: #fff;
	width: 250px;
	height: 250px;
	margin: 0 auto;
	}

#lightbox2 #imageContainer{
	padding: 10px;
	}

#lightbox2 #loading{
	position: absolute;
	top: 40%;
	left: 0%;
	height: 25%;
	width: 100%;
	text-align: center;
	line-height: 0;
	}
#lightbox2 #hoverNav{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 10;
	}
#lightbox2 #imageContainer>#hoverNav{ left: 0;}
#lightbox2 #hoverNav a{ outline: none;}

#lightbox2 #prevLink, #lightbox2 #nextLink{
	width: 49%;
	height: 100%;
	background: transparent url(../images/blank.gif) no-repeat; /* Trick IE into showing hover */
	display: block;
	}
#lightbox2 #prevLink { left: 0; float: left;}
#lightbox2 #nextLink { right: 0; float: right;}
#lightbox2 #prevLink:hover, #lightbox2 #prevLink:visited:hover { background: url(../../libraries/lightbox202/images/prevlabel.gif) left 15% no-repeat; }
#lightbox2 #nextLink:hover, #lightbox2 #nextLink:visited:hover { background: url(../../libraries/lightbox202/images/nextlabel.gif) right 15% no-repeat; }


#lightbox2 #imageDataContainer{
	font: 10px Verdana, Helvetica, sans-serif;
	background-color: #fff;
	margin: 0 auto;
	line-height: 1.4em;
	}

#lightbox2 #imageData{
	padding:0 10px;
	}
#lightbox2 #imageData #imageDetails{ width: 50%; float: left; text-align: left; color: #000 }	
#lightbox2 #imageData #caption{ font-weight: bold }
#lightbox2 #imageData #numberDisplay{ display: block; clear: left; padding-bottom: 1.0em;	}
#lightbox2 #imageData #bottomNavPrev { width: 20px; float: right;  padding-bottom: 0.7em;	}
#lightbox2 #imageData #bottomNavPrev img { display:block; margin:3px auto 0 auto; }
#lightbox2 #imageData #bottomNavNext { width: 20px; float: right;  padding-bottom: 0.7em;  }
#lightbox2 #imageData #bottomNavNext img { display:block; margin:3px auto 0 auto; }			
#lightbox2 #imageData #bottomNavClose{ width: 66px; float: right;  padding-bottom: 0.7em; margin:0 0 0 10px; }	
		
#lightbox2-overlay{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 90;
	width: 100%;
	height: 500px;
	background-color: #000;
	filter:alpha(opacity=60);
	-moz-opacity: 0.6;
	opacity: 0.6;
	}

#lightbox2 .clearfix:after {
	content: "."; 
	display: block; 
	height: 0; 
	clear: both; 
	visibility: hidden;
	}

* html>body #lightbox2 .clearfix {
	display: inline-block; 
	width: 100%;
	}

* html #lightbox2 .clearfix {
	/* Hides from IE-mac \*/
	height: 1%;
	/* End hide from IE-mac */
	}
	
	
	

/*********Fix IE Italics problem***********/
em {
	position: relative;
}

/***********Product Elements*******************/
.product-block{
	width: 168px !important;
	padding: 7px !important;
	border: 1px solid #CCCCCC !important;	
}

.product-block-inner{
	border: 1px solid #CCCCCC !important;
	width: 164px !important;
	height: 120px !important;
	margin: 0px auto 0px auto !important;
}

.product-block .product-title{
	font-size: 11px !important;
	font-weight: bold !important;
	margin: 0px !important;
}

.product-block .product-image{
	width: 164px !important;
	height: 120px !important;
	border: none !important;
}

.product-block-price{
	float: left !important;
	min-height: 20px !important;
}

.product-block .product-price{
	float: left !important;
}

.product-block span.product-price {
	float: none !important;
}

.product-block .product-button{
	float: right !important;
	border: none !important;
}

.product-large{
}

.product-large .product-title{
	font-size: 20px !important;
	font-weight: bold !important;
	margin: 0px 0px 5px 0px !important;
}

.product-large .product-description{
}

.product-large .product-image{
	float: left !important;
	border: none !important;
	margin: 0px 10px 10px 0px;
}

.product-large-price{
	font-weight: bold !important;
	font-size: 14px !important;
	margin: 10px 0px !important;
}

.product-large .product-price{
	float: left !important;
}

.product-large span.product-price{
	float: none !important;
}

.product-large .product-button{
	border: none !important;
}

.product-small{
}

.product-small .product-title{
	font-size: 16px !important;
	font-weight: bold !important;
	margin: 0px 0px 3px 0px !important;
}

.product-small .product-description{
}

.product-small .product-image{
	float: left !important;
	border: none !important;
	margin: 0px 10px 10px 0px !important;
}

.product-small-price{
	float: left !important;
	font-weight: bold !important;
	font-size: 12px !important;
	margin: 6px 0px !important;
}

.product-small .product-price{
	float: left !important;
}

.product-small span.product-price{
	float: none !important;
}

.product-small .product-button{
	float: right !important;
	border: none !important;
}

.product-long{
	border: 1px solid #efefef !important;
	padding: 15px !important;
	margin-bottom: 15px !important;
}

.product-long .product-title{
	font-size: 20px !important;
	font-weight: bold !important;
	margin: 0px 0px 20px 0px !important;
}

.product-long .product-description{
}

.product-long-detail{
	float:right !important;
	background: #efefef !important;
	width: 155px !important;
	border: 1px solid #cdcdcd !important;
	padding: 3px 15px !important;
	line-height: normal !important;
	margin-left: 10px !important;
}

.product-long .product-image{
	float: left !important;
	border: none !important;
	margin: 0px 10px 10px 0px !important;
}

.product-long-price{
	font-weight: bold !important;
	font-size: 16px !important;
	color: #000000;
	margin: 10px 0px !important;
}

.product-long .product-price{
	float: left;
}

.product-long span.product-price{
	float: none !important;
}

.product-long .product-button{
	border: none !important;
}

.paypal-pixel{
	border: none !important;
}

.product{
	margin-bottom: 10px !important;
}


/****************************** flyout menus ******************************/

#weebly-menus .weebly-menu-wrap,
#wsite-menus .wsite-menu-wrap {
	z-index: 5000;
}

#weebly-menus .weebly-menu,
#wsite-menus .wsite-menu {
	padding: 0;
	margin: 0;
	list-style: none;
}

#weebly-menus .weebly-menu li,
#wsite-menus .wsite-menu li {
	float: left;
	clear: left;
	width: 170px;
	text-align: left;
}

#weebly-menus .weebly-menu li a,
#wsite-menus .wsite-menu li a {
	position: relative;
	display: block;
	width: 100%;
	background: #f9f9f8;
	border-right: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	text-decoration: none;
	font-size: 13px;
	font-weight: normal;
	line-height:1;
	padding:5px;
	color: #000;
}

#weebly-menus .weebly-menu li a:hover,
#wsite-menus .wsite-menu li a:hover {
	background: #e3e3e3;
}

#weebly-menus span.weebly-menu-title,
#wsite-menus span.wsite-menu-title {
	display: block;
	padding: 5px 10px;
}

#weebly-menus span.weebly-menu-more,
#wsite-menus span.wsite-menu-more {
	display: block;
	position: absolute;
	right: 5px;
	top: 0;
	font-family: Courier;
	height: 28px;
	line-height: 28px;
	padding:5px 0 5px 0;
}


/************************** Image Gallery ****************************/


html body .galleryImageBorder,
html body a .galleryImageBorder {
	border-style: solid;
	border-color: #ccc #aaa #aaa #ccc;
	}
	
html body .galleryImageBorderBlack, /* for standalone image options */
html body a .galleryImageBorderBlack {
	border-style: solid;
	border-color: #000;
	}
	
.imageGallery { /* fix for when inside overflow:auto, columns would be incorrect */
	width: 100%;
	}
	
/* required to make new image galleries work in blogs in IE */
.blog-body {
	width: 100%; 
	}
#blog-content .imageGallery {
	width: 101%;
	}
	
	

/************************* Form ********************************/
.weebly-form-field,
.wsite-form-field{
	clear: both;
}

.weebly-form-field select,
.wsite-form-field select{
	height: 25px;
}

.weebly-form-label,
.wsite-form-label{
	font-weight: bold;
}

.weebly-form-sublabel,
.wsite-form-sublabel{
	display: block;
	padding-bottom: 5px !important;
	font-size: 11px;
}

.weebly-form-left,
.wsite-form-left{
	float: left;
}

.weebly-form-right,
.wsite-form-right{
	float: right;
}

.weebly-form-input,
.wsite-form-input{
	background: #FFFFFF url(form_input_bg.gif) repeat-x scroll center top;
	border-color: #7C7C7C #C3C3C3 #DDDDDD;
	border-style: solid;
	border-width: 1px;
	padding: 4px !important;
}

.formlist{
	min-height: 100px;
	margin: 0px !important;
	padding: 0px !important;
}

.form-input-error{
	border-color: red;
}

.form-not-required{
	display:none;
}

.form-required{
	display: inline;
	color: red;
}

.form-radio-container{
	display: block;
	margin: 5px 0px 7px 0px !important;
}

.form-radio-container input{
	float: left;
	margin: 0px 5px 0px 0px;
	border: none !important;
}

.instructions-container {
	position: absolute;
	z-index: 10;
	width: 185px;
	background: #FEEFDA;
	border: 1px solid #F7941C;
	padding: 10px;
	cursor: pointer;
	font-size: 14px;
}

.form-field-error .weebly-form-radio-container,
.form-field-error .wsite-form-radio-container{
	border: 1px solid red;
}

/****** paragraph and picture ******/

.imgPusher {
	display: block;
	*width: 1px;
	*height: 0;
	overflow: hidden;
}

