/* @override http://www.seas.harvard.edu/.deliverance/publicsite/static/css/style.css */

* {padding:0px; margin:0px; }
html {background:none; background-color:#fff; color:#000; float:none; font-family:"Lucida Grande", Verdana, Lucida, Helvetica, Arial, sans-serif; font-size:12pt; }
a {outline:none; }
body {background-color: transparent; color: #000; float:none; }

.hidden {display:block; }

h1 {font-size:16pt; }
h2 {font-size:14pt; }
h3 {font-size:12pt; }
h4 {font-size:11pt; }
h5 {font-size:10pt; }
h6 {font-size:9pt; }

#top-wrapper {display:block; float:none; width:6.5in;}
#top-wrapper #header {display:none; }
#top-wrapper #features {display:none; }
#top-wrapper #body {background-color:#fff; float:none; padding-bottom:30px; }
#top-wrapper #body_content {background:none; background-color:#fff; display:block; float:none; margin-top:3px; overflow:visible; width:6.5in; }
#top-wrapper #body_content #portal-breadcrumbs {display:none; }


#top-wrapper #body_content .contentViews,
#top-wrapper #body_content .contentActions {display:none; }

/* left hand nav */
#top-wrapper #body_content #left-portlets-container {display:none; }


#top-wrapper #body_content #body_and_right {float:none; }
#top-wrapper #body_content #body_and_right #body_container {float:none; }
#top-wrapper #body_content #body_and_right #body_container #region-content {float:none; }
#top-wrapper #body_content #body_and_right #body_container .documentContent {float:none; }

/* main content */
#top-wrapper #body_content .documentContent {float:none; font-size:150%; padding:0px !important; }
#top-wrapper #body_content #region-content {display:block; float:none; margin-left:0px; margin-right:0px; width:6.5in; }
#top-wrapper #body_content #region-content.no-right {width:6.5in; }
#top-wrapper #body_content #region-content #category { display: none; }
#top-wrapper #body_content #region-content p {color:#666; font-size:12px; line-height:18px; padding-bottom:12px; }
#top-wrapper #body_content #region-content #content h1.documentFirstHeading {background: none; border-bottom:none; color:#333; font-size:24px; font-weight:bold; padding-top:30px; }
#top-wrapper #body_content #region-content #plone-document-byline {display:none; }

/* collage for user-centered pages */
#top-wrapper #body_content #region-content #collage .two-columns-equal .block_1 { width: 488px; }
#top-wrapper #body_content #region-content #collage .two-columns-equal .block_2 { width: 232px; }
#top-wrapper #body_content #region-content #collage .block_1 .collage-item .content-header { display: none; }
#top-wrapper #body_content #region-content #collage .two-columns-equal .block_1 .collage-item h2 { border: none; font-weight: bold;}
#top-wrapper #body_content #region-content #collage .two-columns-equal .block_2 dl.portlet { border:none; color: #666; }
#top-wrapper #body_content #region-content #collage .two-columns-equal .block_2  dl.portlet dt.portletHeader {background: none; background-color:#79a24a; border:none; border-bottom:1px solid #333; color:#fff; font-size:18px; font-weight:bold; line-height:32px; padding:0px 17px; }
#top-wrapper #body_content #region-content #collage .two-columns-equal .block_2 dl.portlet p.documentDescription { display: none; }
#top-wrapper #body_content #region-content #collage .two-columns-equal .block_2 dl.portlet dd {border:none; padding: 8px;}
#top-wrapper #body_content #region-content #collage .two-columns-equal .block_2 dl.portlet h3 { color: #f2c019; }
#top-wrapper #body_content #region-content #collage .two-columns-equal .block_2  dl.portlet dd.portletFooter { display: none; }

#top-wrapper #body_content #region-content #collage .collage-item .content-body > p { display: none; }

#top-wrapper #body_content ul.contentViews {padding-left:0px; }
#top-wrapper #body_content div.contentActions {padding-left:0px; }

/* right column */
#top-wrapper #body div.visualPadding {display:none; }
#top-wrapper #body div.visualPadding dl.portletNavigationTree {display:none; }

/* footer */
#top-wrapper #footer {clear:both; margin:25px 0px; text-align:center; }
#top-wrapper #footer ul#footer_nav {display:none; }
#top-wrapper #footer address {color:#000; font-size:11px; font-style:normal; line-height:21px; margin-bottom:20px; }
#top-wrapper #footer p {color:#666; font-size:9px; line-height:18px; }
#top-wrapper #footer p a {color:#666; }

form.document-base-edit {font-size:11px; }
.formHelp {font-size:100%; }

#searchGadget {font-size:12px; padding:2px; }

/* calendar 
.p4acalendar .month {width:750px; }*/

#content .vevent .eventDetails {display:inline; float:none; }
#content .vevent .eventDetails table.listing {border:none; }
#content .vevent .eventDetails table.listing tbody { }
#content .vevent .eventDetails table.listing tbody tr { }
#content .vevent .eventDetails table.listing tbody tr th {background:none; border:none; color:#666; text-align:left; text-transform:none; vertical-align:top; }
#content .vevent .eventDetails table.listing tbody tr td {border:none; }

/* directory listing */
div.atozView table#sortable.listing { border: 1px solid #8cacbb; }
div.atozView .alphabetLinks ol { margin: 1em 0em; }

/* directory search */
form.searchPage { padding-bottom: 2em; }
div.seasDirectorySearch.searchResults { padding-top: 2em; }
div.seasDirectorySearch.searchResults div.caption { border-top: 1px solid #ccc; clear: both; }
div.seasDirectorySearch.searchResults h2 { padding: 0;  border: none; color: #436976; float: left; }
div.seasDirectorySearch.searchResults div.caption h2.personLink a:link { color: #436976 !important; }

div.seasDirectorySearch.searchResults h2 a:hover {  }
div.seasDirectorySearch.searchResults h2 a { border-bottom: 1px solid #a2b5bb; }
div.seasDirectorySearch.searchResults div.affiliation { font-size: 1.125em; font-weight: bold; float: right; padding-top: 1.25em; }
div.seasDirectorySearch.searchResults div.headshot { border: 1px solid #ccc; padding: 2px; float: right; }
div.seasDirectorySearch.searchResults div.headshot img { height: 100px; width: 80px; }
div.seasDirectorySearch.searchResults td { padding: 0.25em 0.5em 0em 0em; vertical-align: top; }
div.seasDirectorySearch.searchResults td:first-child, div.personView td:first-child { color: #999; width: 30%; }
div.seasDirectorySearch.searchResults table.directoryResults { float: left; width: 40%; padding-bottom: 1em; clear: left; }
div.seasDirectorySearch.searchResults table.directoryResultsAssistant, div.personView table.directoryResultsAssistant { width: 40%; padding-bottom: 1em; }

/* profiles */
div.facultyStaffDirectory.personView .listing { border: none; }
div.facultyStaffDirectory.personView table.listing td { border: none; padding: 0.5em 0.5em 0.25em 0em; vertical-align: top; }
div.facultyStaffDirectory.personView .caption h1 { color: #436976; }
div.facultyStaffDirectory.personView .affiliation { text-align: right; position: relative; top: -2em; font-size: 1.125em; font-weight: bold;}
div.facultyStaffDirectory.personView ul.jobTitle { position: relative; top: -1em; }
div.facultyStaffDirectory.personView td { padding: 0.25em 0.5em 0em 0em; vertical-align: top; }
div.facultyStaffDirectory.personView div.headshot {  margin: 0em; height: 120px; width: 100px; float: right;}
div.facultyStaffDirectory.personView div.headshot img { padding: 2px; border: 1px solid #999; height: 120px; width: 100px; }
div.facultyStaffDirectory.personView h4 { padding-top: 0.5em; }
div.facultyStaffDirectory.personView ol { list-style-type: none; list-style-image: none; margin: 0em; color: #666;}
div.facultyStaffDirectory.personView div.researchAreas ul { list-style-type: none; }
div.facultyStaffDirectory.personView div.researchAreas ol li { margin: 0; }
div.facultyStaffDirectory.personView table.directoryResults { float: left; width: 40%; padding-bottom: 0.5em; clear: left; }
div.facultyStaffDirectory.personView ul { color: #666; }

.portalMessage { margin-bottom: 1em;}
.deliverance-error {font-size:12px; }
.documentActions, .reviewHistory {display:none; }

.pullquote {font-size: 9pt; font-style:italic; margin:20pt; }
ul {font-size:10pt; list-style-type: bullet; margin-left:20px; line-height:13pt; }

table.listing,
.stx table {
/* */
border-collapse: collapse;
border-spacing: 0;
border-left: 1px solid #8cacbb;
border-bottom: 1px solid #8cacbb;
font-size: 10pt;
margin: 1em 0em 1em 0em;
}
table.listing th,
.stx table th {
background: #dee7ec;
border-top: 1px solid #8cacbb;
border-bottom: 1px solid #8cacbb;
border-right: 1px solid #8cacbb;
font-weight: normal;
padding: 0.25em 0.5em;
text-transform: lowercase;
}
table.listing .top {
border-left: 1px solid White;
border-top: 1px solid White ! important;
border-right: 1px solid White ! important;
text-align: right ! important;
padding: 0em 0em 1em 0em;
}
table.listing .listingCheckbox {
text-align: center;
}
table.listing td,
.stx table td {
border-right: 1px solid #8cacbb;
padding: 0.25em 0.5em;
}
table.listing a {
text-decoration: none;
}
table.listing a:hover {
text-decoration: underline;
}
table.listing img {
vertical-align: middle;
}
table.listing td a label,
.stx table td a label {
cursor: pointer;
}
/* */
table.vertical {
background-color: White;
}
table.vertical th {
padding: 0.5em;
}
table.vertical td {
border-top: 1px solid #8cacbb;
padding: 0.5em;
}
/* */
table.grid td {
border: 1px solid #8cacbb;
padding: 0.5em;
}
/* */
table.plain,
table.plain td,
table.plain th {
border: 1px solid #ccc;
padding: 0.5em;
border-collapse: collapse;
}
