body {
	font-size: 12px; 
	font-family: Verdana, Arial, sans-serif;
	background: #b90035 url(../../../../images/bg_body_gradient.jpg) repeat-x;  
	padding:0; margin:0;
	color:#484747;	
	width:inherit
}

.clearFloats {
	clear:both;
	height:0px;
	line-height:0px;
}

img {
	vertical-align:top;
}

#frameHolder {
	width:973px;
	margin: 0 auto;
}

#container-top {
	background: url(../../../../images/frame-top.png)  no-repeat;
	height:16px;
	/*margin-top: 88px;*/
	margin-top: 15px;
	width:977px;
}

#container {		 
	background:url(../../../../images/frame-middle.png) repeat-y;
	width:977px;
}

#container-bottom {	
	background:transparent url(../../../../images/frame-bottom.png) no-repeat scroll 0 0;
	height:26px;
	width:973px;
}

#header {
	height:62px;
}

#header #global-links {
	left:395px;
	position:relative;
	top:-15px;
	width:400px;
	overflow:hidden;
}

#header #global-links ul {
	list-style-type: none;
	margin:0px;
	padding:0px;	
}

#header #global-links ul li {
	float:left;	
	background-image: url(../../../../images/Arrow.jpg);
	background-repeat: no-repeat;
	background-position: 10px 2px;
	border-right: 1px solid #b90035;
	padding-left:19px;
	padding-right:5px;
	font-weight:bold;
	margin-top: 10px;
	font-size:10px;
}


/*=======================================
End Wrapper and Containers, Start Content
=======================================*/

#header #global-links ul li.last {
		border-right: none;
}
#header #global-links ul li.home-selected {
	background-image: none;
}
#header #global-links ul li.home-selected {
	background:url(../../../../images/nav_home_selected.jpg) top left;
	border-right: none;	
	height:28px;
	padding: 0;	
	margin: 0;
}

#header #global-links ul li.home-selected span 
{
	color:#fff;
	font-weight:bold;
	position: relative;
	top: 8px;
	left:23px;
	text-decoration:none;
	padding-right: 33px;
}

#header #global-links ul li.home-selected span a:link
{
	text-decoration:none;
	color:#FFFFFF;
}

#header #global-links ul li.home-selected span a:hover
{
	text-decoration:none;
	color:#FFFFFF;
}

#header #global-links ul li.home-selected span a:visited
{
	text-decoration:none;
	color:#FFFFFF;
}

/* Ben's code */

#header #global-links ul li.selected 
{
	background-image: none;
}

#header #global-links ul li.selected 
{
	background:url(../../../../images/selected.jpg) top left;
	border-right: none;	
	height:28px;
	padding: 0;	
	margin: 0;
	margin-left: -1px;
}

#header #global-links ul li.selected span 
{
	color:#fff;
	font-weight:bold;
	position: relative;
	top: 8px;
	left:23px;
	text-decoration:none;
	padding-right: 33px;
}

#header #global-links ul li.selected span a:link
{
	text-decoration:none;
	color:#FFFFFF;
}

#header #global-links ul li.selected span a:hover
{
	text-decoration:none;
	color:#FFFFFF;
}

#header #global-links ul li.selected span a:visited
{
	text-decoration:none;
	color:#FFFFFF;
}

/* Ben's code ends */

#frameMiddle 
{
	background:#DDDDD6 url(../../../../images/grey-bg.gif) repeat-x scroll center top;
	margin:0 0 0 1px;
	padding:31px 0 21px 0;
	width:955px;
}

#contentHolder 
{
	width:955px;
}

#contentFooter 
{
	background:transparent url(../../../../images/grey-corners.gif) no-repeat 1px 0;
	height:5px;
	width:955px;
	overflow:hidden;
}

a:link, a:visited 
{
	text-decoration: none;
	color: #b90035;
	z-index: 200;

}
a:hover {
	text-decoration: underline;
	color: #b90035;
}
a:active {
	text-decoration: none;
	color: #b90035;	
}
a img {
	border: none;
}
p { 
	font-size: 1em; /* 12px */ 
	line-height: 1.25em; /* 15px */ 
	margin: 0 0 1.25em 0; 
}
form {
	margin:0;
	padding:0;
}
h2 {
	color: #fff;
	font-size:1.25em;
	margin:0;
	padding:0px;	
}
#title-site {
	margin: 0;
	padding: 0;
	float: left;
	position: relative;
	z-index: 25;
	top: 20px;
	left:31px;
}
#title-site a {
    background: url(../../../../images/logo.gif) no-repeat;	
	display: block;
	overflow: hidden;	
	height: 0px !important;
	padding: 59px 0 0 0;
	width: 157px;
}

#left-col {
	float:left;
	padding:12px 0 0;
	width:701px;
}
#left-col .infoEditorBox
{
	padding:0px 5px 0px 5px;
}

#left-col .last {
	margin:0;	
}

#right-col 
{
	float:left;
	width:228px;
	margin-left:10px;
}

#columns #left-col 
{
	width:605px;
}

#columns #right-col 
{
	width:221px
}


#columns {
	background:#F1F1F0 none repeat scroll 0 0;
	border:solid 1px #BABAB7;
	border-top:0;
	margin:0 0 0 27px;
	padding:12px 0 8px;
	width:897px;
}

#footer {
	height:30px;
	padding:7px 0 0 0;
	text-align:center;
	width:955px;
}

#footer img.first {
   margin:0;
   color:#FFFFFF
}

#footer img {
	border:0;
	margin:0 0 0 40px;
}


.search .searchHeaderHome {
	background:transparent url(../../../../images/header_search.png) no-repeat scroll 0 0;
	height:33px;
	padding:18px 0 0 50px;
	position:relative;
	width:180px;
}
.search .search-button {
	margin:1px 0 0 0;
	border:0;
}
.search .box-header h2 {
	margin:0 !important;
	padding-top: 20px !important;
	padding-left:45px;
}


.search .box-content {
	background:transparent url(../../../../images/bg_box_search.jpg) no-repeat scroll 0 0;
	height:59px;
	margin:0 0 0 5px;
	padding:6px 0 0 30px;
	width:224px;
}

.search {
	margin:0 0 10px 0;
}

.search input {
	border:1px solid #7F8269;
	float:left;
	padding:3px;
}
.search .text {	
	display:inline;
	font-weight:bold;
	position:relative;
	top:5px;
	margin:0 5px 0 0;
}
.search .text a, .search .text a:visited {
	color:#484747;
}
.newsHeader {
	background: url(../../../../images/box_header_news.jpg) no-repeat;
	width:221px;
	height:31px;
}
.newsHeader h2 {
	margin:4px 0 0 45px;
	font-size:11px;
}
.news .box-content {
	background: url(../../../../images/bg_box_news.jpg) repeat-y;
	width:193px;
	/*padding: 5px 11px 20px 17px;*/
	padding: 5px 11px 0 17px;
}

#organisationHeight{
	padding: 5px 11px 43px 17px;
}

#candidatesHeight{
	padding: 5px 11px 20px 17px;
}

.news ul {
	margin: 0;
	padding:0;
	list-style-type: none;
}

.onlineResults
{
	background:transparent url(../../../../images/btn_testResults.gif) repeat scroll 0 0;
	width: 220px;  
	height: 50px;
	margin-left: 4px;
}

.onlineResults .resultText
{
	width: 145px;
	margin-top: 11px;
	margin-left: 78px;
	color: #fff;
	font-size: 1.25em;
	font-weight: bold;
}

.onlineResultsHome
{
	background:transparent url(../../../../images/btn_testResults.gif) repeat scroll 0 0;
	width: 220px; 
	height: 50px;
	margin-left: 8px;
}

.onlineResultsHome .resultText
{
	width: 145px;
	margin-top: 11px;
	margin-left: 78px;
	color: #fff;
	font-size: 1.25em;
	font-weight: bold;
}

.news ul li {
	padding:0 0 15px 0;
}
.news ul li.last {
	padding:0;
}

.news ul li span {
	display:block;
}
.news {
	margin:10px 0 0 7px ;
}
#tabHolder {
	margin:12px 0 0 27px;
}

#tabs ul {
	list-style-type: none;
	margin:0;
	padding:0;
	height:30px;
	overflow:hidden;
}

#tabs ul  li {
	float:left;
	margin-right:6px;
}

#tabs ul li.candidates  {
	background:transparent url(../../../../images/tab_candidates.gif) repeat scroll 0 0;
	color:#FFFFFF;
	float:left;
	font-size:14px;
	font-weight:bold;
	height:26px;
	padding-top:10px;
	text-align:center;
	width:116px;
}

#tabs ul li.institutions  {
	background:url(../../../../images/tab_institutions.jpg);
	width:117px;
	height:26px;
	float: left;
	color:#fff;
	font-weight: bold;
	text-align:center;
	font-size:14px;
	padding-top: 10px;
}

#tabs ul li.candidates a, #tabs ul li.institutions a, #tabs ul li.researchers a, #tabs ul li.teachers a {
	color: #fff;
}

#tabs ul li.researchers  {
	background-image:url(../../../../images/tab_researchers.jpg);
	width:127px;
	height:26px;
	float: left;
	color:#fff;
	font-weight: bold;
	text-align:center;
	font-size:14px;
	padding-top: 10px;
}

#tabs ul li.teachers  {
	background-image:url(../../../../images/tab_teachers.jpg);
	width:102px;
	height:26px;
	float: left;
	color:#fff;
	font-weight: bold;
	text-align:center;
	font-size:14px;
	padding-top: 10px;
}

/* New Tab */

#tabs ul li.aboutus {
	background:transparent url(../../../../images/tab_orange.gif) repeat scroll 0 0;
	width:115px;
	height:26px;
	float: left;
	color:#fff;
	font-weight: bold;
	text-align:center;
	font-size:14px;
	padding-top: 10px;
}

#tabs ul li.media  {
	background:url(../../../../images/tab_green.gif);
	width:115px;
	height:26px;
	float: left;
	color:#fff;
	font-weight: bold;
	text-align:center;
	font-size:14px;
	padding-top: 10px;
}

#tabs ul li.faqs  {
	background-image:url(../../../../images/tab_blue.gif);
	width:115px;
	height:26px;
	float: left;
	color:#fff;
	font-weight: bold;
	text-align:center;
	font-size:14px;
	padding-top: 10px;
}

#tabs ul li.contactus  {
	background-image:url(../../../../images/tab_gray.gif);
	width:115px;
	height:26px;
	float: left;
	color:#fff;
	font-weight: bold;
	text-align:center;
	font-size:14px;
	padding-top: 10px;
}

#tabs ul li.contactus a, #tabs ul li.aboutus a, #tabs ul li.media a, #tabs ul li.faqs a {
	color: #fff;
}

.rounded-small a img {
	margin:2px 0 0 4px;
}
#left-col .rounded-large {
	margin:0 10px 0 0;
}
#left-col .rounded-large-last {
	margin-right:0;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    }

.clearfix {display: inline-block;}  /* for IE/Mac */


/*====================

For Next Templates

====================*/

#toggle-panel {
	width:560px;
}
#toggle-panel .panel-header {
	background:transparent url(../../../../images/bg_toggle_gradient.gif) repeat-x scroll 0 0;
	display:block;
	height:20px;
	padding-left:14px;
	padding-top:7px;
	top:50%;
}
#toggle-panel .panel-header a {
	color:#484747;
}

#toggle-panel .panel-header img {
	padding:2px 0 0 3px;
}

#toggle-panel .panel-content {
	padding-left:14px;
	border: 1px solid #b2b0b1;
	border-top:0;
	padding-top: 5px;
	padding-bottom: 5px;	
}
	
#toggle-panel  .panel-closed {
	display:none;
}

.rounded-large  {
	padding-bottom: 12px;
}

#tabs{
	overflow:hidden;
	border-top:1px;
}

/* Tab Control Selected */

#tabs ul li#candidatesSelect  {
	background:url(../../../../images/tab_candidates_selected.jpg);
	width:126px;
	height:26px;
	float: left;
	color:#fff;
	font-weight: bold;
	text-align:center;
	font-size:14px;
	padding-top: 10px;
}

#tabs ul li#institutionSelect  {
	background:url(../../../../images/tab_institutions_selected.gif);
	width:134px;
	height:26px;
	float: left;
	color:#fff;
	font-weight: bold;
	text-align:center;
	font-size:14px;
	padding-top: 10px;
}

#tabs ul li#reseachersSelect  {
	background:url(../../../../images/tab_reseachers_selected.gif);
	width:143px;
	height:26px;
	float: left;
	color:#fff;
	font-weight: bold;
	text-align:center;
	font-size:14px;
	padding-top: 10px;
}

#tabs ul li#teachersSelect  {
	background:url(../../../../images/tab_teachers_selected.gif);
	width:113px;
	height:26px;
	float: left;
	color:#fff;
	font-weight: bold;
	text-align:center;
	font-size:14px;
	padding-top: 10px;
}

#tabs ul li#aboutsUsSelected {
	background:url(../../../../images/tab_orange_selected.gif);
	width:143px;
	height:27px;
	float: left;
	color:#fff;
	font-weight: bold;
	text-align:center;
	font-size:14px;
	padding-top: 10px;
}

#tabs ul li#mediaSelected  {
	background:url(../../../../images/tab_green_selected.gif);
	width:143px;
	height:27px;
	float: left;
	color:#fff;
	font-weight: bold;
	text-align:center;
	font-size:14px;
	padding-top: 10px;
}

#tabs ul li#faqsSelected  {
	background:url(../../../../images/tab_blue_selected.gif);
	width:143px;
	height:27px;
	float: left;
	color:#fff;
	font-weight: bold;
	text-align:center;
	font-size:14px;
	padding-top: 10px;
}

#tabs ul li#contactusSelected  {
	background:url(../../../../images/tab_gray_selected.gif);
	width:143px;
	height:27px;
	float: left;
	color:#fff;
	font-weight: bold;
	text-align:center;
	font-size:14px;
	padding-top: 10px;
}

.news .bg_boxBottom{
	background:url(../../../../images/bg_box_news_bottom.jpg) no-repeat;
	display:block;
	height:19px;
	width:221px;
}


/********************* Code writtrn by: VRao ******************/

.breadCrumb 
{
 	font-size:10px;
	font-weight:bold;
}

.headingline
{
	border-bottom:1px solid #000000;
}

.headingInfoline
{
	border-bottom:1px solid #c4c4c4;
	width: 600px;
	text-align:left;
}

.pageProperty
{
	font-size: 15px;	
	font-weight:bold;
	font-family:Tahoma;
	color:#000000;
}

.refresh{
	/*background:url(../../../../images/refresh.png);*/
	left:740px;
	clear:both;
	overflow:hidden;
	float:right;
	margin-top:-8px;
}

.gapFrameMax
{
	margin-top:15px;
}

.gapFrameMin
{
	margin-top:10px;
}

#columns .advertisementArea
{
    clear:both;
    margin: 5px 5px 5px 40px; 
}

.advertisementArea a
{
    color: #4169e1;
    text-decoration: none;   
    font-size: 9px; 
}

#normalMiddleBox {
	float:left;
	width:780px;
	margin-left:50px;
	padding-right:50px;	
	display:inline;	
}

#normalMiddleBox #left-col-faq {
	padding:12px;
	padding-right:50px;
	padding-left:50px;
	margin-left:50px;
	margin-right:50px;
	width:380px;
	clear:both;
	overflow:hidden;
}

#normalMiddleBox #right-col-faq {
	float:left;
	width:380px;	
	clear:both;
	overflow:hidden;
}
#columns #left-col-faq {
	width:390px;
}
#columns #right-col-faq {
	width:390px
}

#privacyBottom{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:9px;
	color:#FFFFFF;
	text-align:center;
}

#privacyBottom a:link {color:#FFFFFF; text-decoration:none;}
#privacyBottom a:hover { text-decoration:underline; color:#FFFFFF;}
#privacyBottom a:visited { text-decoration:none; color:#FFFFFF; }
#privacyBottom a:active {text-decoration:none; color:#FFFFFF; }

